.decision-tree-wrapper {
  background-color: white;
  text-align: center;
  padding: 25px 0px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.19);
  position: relative;
}

.decision-tree-wrapper::before {
  content: "";
  position: absolute;
  top: -25px;
  left: -25px;
  right: -25px;
  bottom: -25px;
  background: linear-gradient(to right, #d860f9 0%, #6656c0 100%);
  border-radius: 20px;
  z-index: -1;
}

.decision-tree-title {
  color: rgb(43, 32, 32);
  text-align: center;
}

.decision-tree {
  color: black;
  padding: 20px 20px;
  text-align: center;
}

.decision-tree-button {
  min-width: 200px;
  margin: 20px 10px 0px 10px;
}
