.engaging-box-wrapper {
  margin-top: 50px;
  margin-bottom: -50px;
  /*background-color: #ffffff;*/
  color: rgb(46, 38, 38);
  box-shadow: inset 0 0 30px rgba(132, 50, 147, 0.2),
    0 8px 20px rgba(132, 50, 147, 0.3);
  background: linear-gradient(135deg, #fff, #f8f8f8, #fff);
  border-radius: 10px;
  border-width: 3px;
  padding: 10px;
  text-align: center;
  justify-content: center;
}
