.event-card-carousel-container {
  display: grid;
  grid-template-columns: auto 1fr auto;
  padding: 20px;
  grid-gap: 20px;
  justify-items: center;
}

.event-card-carousel {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  width: 100%;
}

.event-card-carousel-button-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.event-card-carousel-button:disabled {
  background: grey;
  cursor: not-allowed;
  box-shadow: none;
}

.event-card-carousel-button:disabled:hover {
  background: grey;
}
