.navbar-offset {
  height: 78px;
}

.header {
  background: linear-gradient(#642f6c, #8e43de);
  color: linear-gradient(#ffffff, #5a2d8a);
  font-family: cursive;
  text-align: center;
  padding: 20px;
  position: relative;
  top: 0;
  width: 100%;
}

.header-title {
  margin: auto;
  font-size: 40px;
}

.header-description {
  font-size: 17px;
  margin: 20px 0px;
}
