.image-recognition-wrapper {
  margin-bottom: 50px;
  background-color: transparent;
  border: 20px solid #c18ae5;
  border-image: linear-gradient(to right, #d860f9 0%, #6656c0 100%) 1;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  box-shadow: 0px 5px 25px -10px rgba(0, 0, 0, 0.5);
  text-align: center;
  align-items: center;
  padding: 15px;
  display: flex;
  color: #333;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  /*background-image: linear-gradient(to right, #d3aced, #f6f6f6);*/
  border-radius: 20px !important;
}

.image-recognition-preview {
  max-width: 100%;
  max-height: 300px;
  align-items: center;
}

/*
.image-recognition-button {
  width: 30%;
  min-width: 200px;
  margin: 20px 10px 0px 10px;
  padding: 10px;
  border-width: 0;
  border-radius: 5px;
  background-color: #8e43de;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
}
*/
