.image-recognition-wrapper {
  margin-bottom: 50px;
  background-color: transparent;
  border: 20px solid #c18ae5;
  border-image: linear-gradient(to right, #d860f9 0%, #6656c0 100%) 1;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  box-shadow: 0px 5px 25px -10px rgba(0, 0, 0, 0.5);
  text-align: center;
  align-items: center;
  padding: 15px;
  display: flex;
  color: #333;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  /*background-image: linear-gradient(to right, #d3aced, #f6f6f6);*/
  border-radius: 20px !important;
}

.image-recognition-preview {
  max-width: 100%;
  max-height: 300px;
  align-items: center;
}

/*
.image-recognition-button {
  width: 30%;
  min-width: 200px;
  margin: 20px 10px 0px 10px;
  padding: 10px;
  border-width: 0;
  border-radius: 5px;
  background-color: #8e43de;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
}
*/

.image-recognition-button {
  --clr-font-main: hsla(0 0% 20% / 100);
  --btn-bg-1: rgb(203, 84, 179);
  --btn-bg-2: rgb(134, 46, 115);
  --btn-bg-color: hsla(360 100% 100% / 1);
  --radii: 0.5em;
  cursor: pointer;
  padding: 0.9em 1.4em;
  min-width: 120px;
  min-height: 44px;
  font-size: var(--size, 1rem);
  font-family: "Segoe UI", system-ui, sans-serif;
  font-weight: 500;
  transition: 0.8s;
  background-size: 280% auto;
  background-image: linear-gradient(
    325deg,
    var(--btn-bg-2) 0%,
    var(--btn-bg-1) 55%,
    var(--btn-bg-2) 90%
  );
  border: none;
  border-radius: var(--radii);
  color: var(--btn-bg-color);
  box-shadow: 0px 0px 20px rgba(246, 71, 255, 0.5),
    0px 5px 5px -1px rgba(233, 58, 221, 0.25),
    inset 4px 4px 8px rgba(255, 175, 252, 0.5),
    inset -4px -4px 8px rgba(203, 19, 216, 0.35);
}

.submit-button {
  --clr-font-main: hsla(0 0% 20% / 100);
  --btn-bg-1: rgb(203, 84, 179);
  --btn-bg-2: rgb(134, 46, 115);
  --btn-bg-color: hsla(360 100% 100% / 1);
  --radii: 0.5em;
  cursor: pointer;
  padding: 0.9em 1.4em;
  min-width: 120px;
  min-height: 44px;
  font-size: var(--size, 1rem);
  font-family: "Segoe UI", system-ui, sans-serif;
  font-weight: 500;
  transition: 0.8s;
  background-size: 280% auto;
  background-image: linear-gradient(
    325deg,
    var(--btn-bg-2) 0%,
    var(--btn-bg-1) 55%,
    var(--btn-bg-2) 90%
  );
  border: none;
  border-radius: var(--radii);
  color: var(--btn-bg-color);
  box-shadow: 0px 0px 20px rgba(246, 71, 255, 0.5),
    0px 5px 5px -1px rgba(233, 58, 221, 0.25),
    inset 4px 4px 8px rgba(255, 175, 252, 0.5),
    inset -4px -4px 8px rgba(203, 19, 216, 0.35);
}
