.question-box {
  display: grid;
  grid-template-rows: auto auto;
  grid-gap: 10px;
  justify-items: center;
  --color: black;
  color: var(--color);
  width: 100%;
  height: 100%;
  overflow: visible;
  border-radius: 0.7rem;
  padding: 20px;
}

.question-box-answers {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  grid-gap: 30px;
  width: 100%;
}

.answer-button {
  color: black;
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
  cursor: pointer;
  background: white;
  border: 3px solid #642f6c;
  border-radius: 15px;
}

.answer-button.border-correct {
  border: 3px solid green;
}

.answer-button.border-incorrect {
  border: 3px solid red;
}
