.subheading-container-wrapper {
  display: flex;
  flex-direction: column;
  margin: 100px 0px 50px 0px;
}

.subheading-container {
  position: relative;
  width: 100%;
  display: grid;
  align-items: center;
  justify-items: center;
}

.subheading-anchors {
  display: flex;
  margin: 0 30px;
}

.subheading-text {
  font-size: 40px;
  margin: 20px 0;
  color: #2d1833;
  font-weight: bold;
  text-shadow: #7b3b72 1px 1px 0px, #ef4dce 1px 2px 0;
}

.subheading-separator {
  margin: 0px auto;
  width: 80px;
  height: 0px;
  background-color: #8d3a3a;
  font-weight: bold;
}
