.subheading-anchor {
  display: block;
  position: relative;
  top: -78px; /* This is to stop the navbar from covering the subheading */
  visibility: hidden;
}

.subheading-container-wrapper {
  display: flex;
  flex-direction: column;
  margin: 100px 0px 50px 0px;
}

.subheading-container {
  position: relative;
  width: 100%;
  display: grid;
  align-items: center;
  justify-items: center;
}

.subheading-anchors {
  display: flex;
  margin: 0 30px;
}

.subheading-text {
  font-size: 30px;
  margin: 20px 0;
  color: #2d1833;
  font-weight: bold;
  text-shadow: #7b3b72 1px 1px 0px, #ef4dce 1px 2px 0;
  /* color: aliceblue; */
}

.subheading-text:hover::before {
  transform: scaleX(1);
}

.subheading-text:hover::after {
  width: 100%;
  opacity: 1;
}

/*
.subheading-container:hover {
  border: 6px solid #7b3eb4;
  padding: 0.5rem;
  transition: border 0.2s ease-in-out;
}
*/

/*
.wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: #1e1616;
}
*/

.subheading-separator {
  margin: 0px auto;
  width: 80px;
  height: 0px;
  background-color: #8d3a3a;
  font-weight: bold;
}
