.header {
  background: linear-gradient(#d860f9, #642f6c);
  color: white;
  font-family: "Lato";
  text-align: center;
  padding: 30px;
  position: relative;
}

.user-info-bar-header {
  background: white;
  color: black;
  font-family: "Lato";
  text-align: right;
  padding: 30px;
  position: relative;
  height: min-content;
  
}

.header-title {
  margin: auto;
  font-size: 40px;
}

.header-description {
  font-size: 17px;
}

