/*========================================
    ALL
========================================*/

* {
  font-family: Georgia, serif;
}

/*========================================
    ALL LINKS
========================================*/

a {
  color: blue;
  text-decoration: none;
}

a:hover {
  color: purple;
  text-decoration: underline;
}

/*========================================
    PAGE CONTENT
========================================*/

.page {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

/*========================================
    HOME POPUP
========================================*/

.home-popup-overlay {
  background: rgba(0, 0, 0, 0.75);
}

.home-popup-content {
  margin: auto;
  background: #8e43de;
  color: white;
  width: 50%;
  min-width: 200px;
  padding: 20px;
  text-align: center;
  border: 4px solid black;
  border-radius: 10px;
}

/* .home-popup-arrow {
  color: rgb(255, 255, 255);
} */

/* .popup-arrow {
  -webkit-filter: drop-shadow(0 -3px 3px rgba(0, 0, 0, 0.16));
  filter: drop-shadow(0 -3px 3px rgba(0, 0, 0, 0.16));
  color: #fff;
  stroke-width: 2px;
  stroke: #d7d7d7;
  stroke-dasharray: 30px;
  stroke-dashoffset: -54px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
} */

.home-popup-close {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  right: -10px;
  top: -10px;
  height: 30px;
  width: 30px;
  font-size: 30px;
  border: 2px solid black;
  border-radius: 18px;
}

.home-popup-close:hover {
  filter: brightness(80%);
}

.toTop {
  position: fixed;
  right: 50px;
  bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  cursor: pointer;
  height: 40px;
  border-radius: 50%;
  border: none;
  background: #4f1d4b;
  color: #e5e5e5;
  font-weight: 500;
  box-shadow: inset 20px 20px 39px #593056, inset -20px -20px 39px #571d54;
  font-size: 15px;
  font-weight: bold;
  z-index: 100;
}

.toTop::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: -10px;
  top: -10px;
  border-radius: 50%;
  width: calc(100% + 20px);
  height: calc(100% + 20px);
  background: linear-gradient(
    35deg,
    rgb(104, 47, 97),
    rgb(218, 57, 143),
    rgb(23, 135, 255)
  );
  filter: blur(10px);
  animation: rotcirclegr 1s linear infinite;
}

@keyframes rotcirclegr {
  to {
    transform: rotate(360deg);
  }
}
